:root {
  --backroung-gray: #f8f9fa;
  --text: #666666;
  --facebook: #0099ff;
  --border: #dee2e6;
  --text-collapsed: #a8a8a8;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--text);
}

/* Selector con REGEX */
span[display="false"] {
  visibility: hidden;
}
div.message-options:hover button {
  visibility: visible;
}
div.message-options button {
  visibility: hidden;
}
.row.pr-3 {
  float: right;
}
.message-user div div.inline.mr-3,
.message-contact div div.inline.mr-3 {
  max-width: 600px;
}
.picture-shared {
  display: flex;
  align-items: center;
}

/* Barra de chats */
.nav-item h5 {
  margin-bottom: 0px !important;
}
.contact-name,
.nav-item h5 {
  font-weight: 700;
}
.media-body h6 {
  font-weight: 500;
}
.text-muted {
  color: #c9c9c9 !important;
}
.contact-chat div div.text-muted {
  font-size: 0.9rem;
}
#button-addon1:focus,
.input-group-prepend button.btn.btn-outline-secondary,
.input-group-prepend button.btn.btn-outline-secondary:active,
.input-group-prepend button.btn.btn-outline-secondary:hover i,
input[placeholder="Buscar en Messenger"],
input[placeholder="Buscar en Messenger"]:focus {
  border: none;
  background: var(--backroung-gray);
  box-shadow: none;
  color: var(--text);
}
button#button-addon1 {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
input[placeholder="Buscar en Messenger"] {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-left: 0px;
}
a.action-chat:hover {
  text-decoration: none;
}

.contact-chat {
  border-radius: 10px;
}

.form-inline button i {
  color: black;
}

.form-inline button.chat-button {
  background: var(--backroung-gray);
  border-radius: 50%;
  margin-left: 10px;
}

/* Chat */
.message-user div div.inline.mr-0,
.message-contact div div.inline.mr-3 {
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
}
.message-user div div.inline.mr-0 img,
.message-contact div div.inline.mr-3 img {
  padding: 10px 0px 10px 0px;
  border-radius: 10px;
}
.message-contact div div.inline.mr-3 {
  background: var(--backroung-gray);
  color: black;
}
.message-user div div.inline.mr-0 {
  background: var(--facebook);
  color: white;
}

/* Info de conversación */
.card.border-0 {
  border-radius: 0px;
}
.card-header.border-0 {
  background: white;
  border-top: 1px var(--border) solid !important;
}
.card-header.border-0 h2 button {
  font-weight: 500;
  color: var(--text-collapsed);
  text-transform: uppercase;
  font-size: 0.9rem;
}
.card-header.border-0 h2 button,
.card-header.border-0 h2 button:hover {
  text-decoration: none;
}
.card-header.border-0 h2 button:focus {
  box-shadow: none;
}
.card.border-0 .card-header.border-0:hover {
  background: var(--backroung-gray);
}
.form-inline button.navbar-button i {
  color: var(--facebook) !important;
}
.btn.btn-link.my-2.my-sm-0.navbar-button.info {
  background: #d8efff !important;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
}
.list-group-item.border-0 div div i {
  float: right;
}
.list-group-item.border-0 div div.files i {
  float: left;
}
.list-group-item.border-0 div div i::before {
  background: var(--backroung-gray);
  border-radius: 50%;
  padding: 8px;
}
.list-group-item.border-0 div div.files i::before {
  background: none;
  padding: 0px;
  line-height: 24px;
  padding-right: 15px;
}
.card-header.border-0 h2 button {
  padding-left: 0px;
  padding-right: 0px;
}
#picture-shared-body {
  padding-left: 12px;
  padding-right: 12px;
}
